.App {
  background-color: cornflowerblue;
  display: flex;
  place-content: center;
  flex-direction: column;
  height: 100vh;
  width: auto;
  gap: 4vh;
}

.App-header {
  background-color: cornflowerblue;
  place-self: center;
  font-size: calc(30px + 2vmin);
  color: white;
}

.App-body {
  background-color: cornflowerblue;
  place-self: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.toDoTable {
  border: 5px solid white;
  width: 80vw;
  height: auto;
  text-align: center;
}

.toDoHeader {
  border-bottom: 2px solid white;
}

.controlPanel {
  display: flex;
  
  width: 80vw;
  height: auto;
  place-content: center;
}

.filterButton {
  flex: 1 1 33%;
  background-color: white;
  border: 1px solid black;
  box-shadow: inset;
}

.filterButton:hover {
  flex: 1 1 33%;
  background-color: lightgray;
  border: 1px solid black;
  box-shadow: inset;
}

.filterButton:active {
  flex: 1 1 33%;
  background-color: grey;
  border: 1px solid black;
  box-shadow: inset;
}

/* .toDoItem {
} */
